body{
	background-color: white;
	margin: 0;
	padding: 0;
	}
h1{
	text-align: center;
	letter-spacing: 2px;
}

.nav{
	background-color: black;
	color: #000000
	list-style: none;
	text-align: center;
	padding: 20px 0 0 0;
	position: relative;
	z-index: 1000;
}
.nav > li{
	display: inline-block;
	padding: 0 25px 0 25px;
}
.nav > li > a{
	text-decoration: none;
	color: white;
	font-size: 20pt;
	letter-spacing: 2px;
}
.nav > li > a:hover{
	color: #aaa;
}
.banner{
	text-align: center;
	margin: 0;
}

#tiger{
	height: auto;
	width: auto;
	max-width: 600px;
	max-height: 600px;
	margin: 0;

	
}
#left_text{
	position: absolute;
	color: #aaa;
	left: 50px;
	top: 250px;
	font-size: 35pt;
	padding: 20px;
	
}


#right_text{
	position: absolute;
	color: #aaa;
	top: 250px;
	right: 95px;
	font-size: 35pt;
	padding: 20px;
	
}

/* This is the Changing Text*/
div.changling span#a {
display:inline;
}
div.changling:hover span#a {
display:none;
}
div.changling span#b {
display:none;
}
div.changling:hover span#b {
display:inline;
}

div.changling span#c {
display:inline;
}
div.changling:hover span#c {
display:none;
}
div.changling span#d {
display:none;
}
div.changling:hover span#d {
display:inline;
}
/* END OF CHANGING TEXT*/


