h1{
	text-align: center;
	letter-spacing: 2px;
	z-index: -1000;
	font-size: 25pt;
}

.banner{
	text-align: center;
	margin: 0;
	
}

#tiger{
	height: auto;
	width: auto;
	max-width: 600px;
	max-height: 600px;
	margin: 0;
}

.nav{
	background-color: black;
	color: #000000
	list-style: none;
	text-align: center;
	padding: 20px 0 0 0;
	position: relative;
	z-index: 1000;
}
.nav > li{
	display: inline-block;
	padding: 0 25px 0 25px;
}
.nav > li > a{
	text-decoration: none;
	color: white;
	font-size: 20pt;
	letter-spacing: 2px;
}
.nav > li > a:hover{
	color: #aaa;
}
.FB{
	width: 75px;
	height: 75px;
	position: absolute;
	bottom: -10px;
	z-index: 1000;
}
.FB img{
	width: 100%;
	height: auto;
}
.instagram{
	width: 49px;
	height: 49px;
	position: absolute;
	bottom: 2px;
	left: 100px;
	z-index: 1000;
}
.instagram img{
	width: 100%;
	height: auto;
}









